@model Litium.Accelerator.ViewModels.Framework.SubNavigationLinkModel

<div class="container">
    <div class="row">
        <div class="col d-inline-block">
            <p>Ikon</p>
        </div>
        <div class="col d-inline-block">
            <h3>@Model.Name</h3>
        </div>
        <div class="col d-inline-block">
            <p>pil</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p> text text</p>
        </div>
    </div>
</div>
