.hero {
    .top-50 {
        transform: translateY(-50%);
    }

    &-content{
        max-width: 400px;
    }

    img {
        object-fit: cover;
        object-position: bottom;
        width: 100%;
        max-height: 780px;
    }
}
