@model Litium.Accelerator.ViewModels.Framework.BreadCrumbsViewModel

@if (Model.ContentLinks != null && Model.ContentLinks.Any())
{
    <nav aria-label="breadcrumb" class="d-none d-md-block px-5 pt-3">
        <ol class="breadcrumb">
            @foreach (var contentLink in Model.ContentLinks)
            {
                <li class="breadcrumb-item @(contentLink.IsSelected? $"active" : $"")" @(contentLink.IsSelected ? "aria-current='page'" : string.Empty)>
                    <a href="@contentLink.Url">@contentLink.Name</a>
                </li>
            }
        </ol>
    </nav>
}