@using Litium.Accelerator.ViewModels.Framework;
@model HeaderViewModel

@{
	var currentPage = User.Identity.IsAuthenticated ? Model.MyPage : Model.LoginPage;
}

<a href="@currentPage.Href" title="@currentPage.Text">
	<div class="profile media">
	</div>
</a>