@using Litium.Accelerator.ViewModels.Framework;
@model HeaderViewModel

@{
	var currentPage = User.Identity.IsAuthenticated ? Model.MyPage : Model.LoginPage;
	var href = User.Identity.IsAuthenticated ? currentPage.Href : Model.ExternalB2BLink;
	var text = User.Identity.IsAuthenticated ? currentPage.Text : "external b2b";
}

@if (!string.IsNullOrEmpty(href))
{
	<a href="@href" title="@text" target="@(User.Identity.IsAuthenticated ? "_self" : "_blank")">
		<div class="profile media me-4">
		</div>
	</a>
}