@model Litium.Accelerator.ViewModels.Framework.UtilityMenuViewModel

@if (Model.ChannelLinkList.Any() && Model.ChannelLinkList.Count > 1)
{
	var current = Model.ChannelLinkList.FirstOrDefault(link => link.IsSelected);

	<div class="utilitymenu">
		<div class="utilitymenu_current_container">
			<p class="utilitymenu_current_text">@(current != null ? current.Name : string.Empty)</p>
		</div>

		<div class="utilitymenu_language_container">
			<hr />
			<div class="utilitymenu_language_languages">
				@foreach (var link in Model.ChannelLinkList)
				{
					if (link != null)
					{
						<a href="@link.Url">@link.Name</a>
					}
				}
			</div>
		</div>
	</div>
}