.blogList{
    padding-left: 10rem;
    padding-right: 10rem;
}

.cta-arrow-red {
    &:after {
        display: inline-block;
        @include icon--cta-arrow-red();
    }
}

.cta-arrow-red-small {
    &:after {
        display: inline-block;
        margin-top: 1.5rem;
        @include icon--cta-arrow-red-small();
    }
}

.tagButton:hover {
    background-color: #EDEDED;
    border-color: #AAAAAA;
    color: black;
    text-decoration: underline;
}
@media (min-width: 768px) {
    .card img {
        height: 11em;
    }
}

.blogList{
    padding-left: 10rem;
    padding-right: 10rem;
}

.cta-arrow-red {
    &:after {
        display: inline-block;
        @include icon--cta-arrow-red();
    }
}

.cta-arrow-red-small {
    &:after {
        display: inline-block;
        margin-top: 1.5rem;
        @include icon--cta-arrow-red-small();
    }
}
