
.blogList{
    padding-left: 10rem;
    padding-right: 10rem;
}

.cta-arrow-red {
    &:after {
        display: inline-block;
        @include icon--cta-arrow-red();
    }
}


.cta-arrow-red-small {
    &:after {
        display: inline-block;
        margin-top: 1.5rem;
        @include icon--cta-arrow-red-small();
    }
}

.tagButton:hover {
    background-color: #EDEDED;
    border-color: #AAAAAA;
    color: black;
    text-decoration: underline;
}

.car-height {
    height: 40.375rem !important;
    padding-left:10rem;
}

.blogList{
    padding-left: 10rem;
    padding-right: 10rem;
}
.carousel-arrow-left {
    & {
        @include icon--carousel-arrow-left();
    }
}

.cta-arrow-red {
    &:after {
        display: inline-block;
        @include icon--cta-arrow-red();
    }
}
.carousel-arrow-right {
    & {
        @include icon--carousel-arrow-right();
    }
}

.cta-arrow-red-small {
    &:after {
        display: inline-block;
        margin-top: 1.5rem;
        @include icon--cta-arrow-red-small();
    }
}
