.subcategoryContainer {
    background-color: #121212;
}
.subcategoryCard {
    background-color: #181818;
}

.subcategoryCard:hover {
    background-color: #272727;
    cursor: pointer;
}

.subcategoryHeadWrapper {
    background: linear-gradient( 90.15deg,#131313 .91%,#333 66.56%,#191919 98.15%),#333;
}

.subcategory {
    .subcategory-content-wrapper {
        background-image: linear-gradient(to left,rgba(0,0,0,0.25),rgba(0,0,0,0.6), rgba(0,0,0,1));
        bottom: 0;
        left: 0;

        @include media-breakpoint-up(md) {
            left: 3rem;
        }

        @include media-breakpoint-up(lg) {
            left: 6rem;
        }
    }


    &-content {
        max-width: 400px;
    }

    img {
        width: 100%;
    }
}