
#contactUsHr {
    width: 11.875rem;
    height: 0.125rem;
    Top: 17.938rem;
    Left: 10.375rem;
    background-color: black;
    border: none;
    opacity: 1;
}

.chanelContactInfo{
    margin-left : 10.047rem;
}

.comtactInfoPhoneTable{
    margin-top: 0.313rem;
    margin-bottom: 0.313rem;
}

.comtactInfoWebTable {
    margin-top: 0.313rem;
}





