.footer {
    &:after {
        @include icon--logo-notext();
        position: absolute;
        bottom: 0px;
        left: 20px;
    }

    div.some {
        height: 3rem;
        width: 3rem;

        a {
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: center;

            .media {
                height: 1rem;
                width: 1rem;
                background-size: contain !important;

                &.facebook {
                    @include icon--facebook();
                }

                &.twitter {
                    @include icon--twitter();
                }

                &.linkedin {
                    @include icon--linkedin();
                }
            }
        }
    }
}
