.footer {
    @include media-breakpoint-up(md){
        .vision-text {
            column-count: 2;
        }
    }

    .cta-arrow {
        &:after {
            display: inline-block;
            margin-left: 1rem;
            @include icon--cta-arrow();
        }
    }

    .footer-logo{
        position:absolute;
        bottom:0;
        left: 16px;
    }
}
