.vertical-align-tb {
    vertical-align: text-bottom !important;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.cursor-hover {
    &:hover {
        cursor: pointer;
    }
}

.product-image-main {
    img {
        min-height: 550px;
        width:100%;
        object-fit: contain; // for now. todo: maybe remove
    }
}

.product-image {
    img {
        width: 100%;
    }
}

.product-details-bg {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 3%, rgba(238,238,238,1) 3%, rgba(238,238,238,1) 80%, rgba(255,255,255,1) 80%);
}

.presentationhero-box {
    background: linear-gradient(89.51deg, #000000 0.54%, rgba(0, 0, 0, 0.85) 19.51%, rgba(0, 0, 0, 0.47) 91.61%);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-grey{
    background-color: $grey;
}

