.pagination {
    text-align: center;
    &__item {
        display: inline-block;
        margin: rem(0 5px);
    }
    &__link {
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(30px);
        height: rem(30px);
       
        &--current {
            &, &:hover, &:active, &:focus {
                
            }
        }
        &--disabled {
            pointer-events: none;
            background-color: transparent;
        }
    }
}