<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>

     <!-- Dev config-->
    <add key="LitiumBaseUrl" value="http://localhost:54725"/>
    <add key="client_id" value="IntegrationAccount"/>
    <add key="client_secret" value="consid12345"/>

    <!-- Test config -->
    <!--<add key="LitiumBaseUrl" value="http://tengtools.test.workplace.nu/"/>
    <add key="client_id" value="integration-user"/>
    <add key="client_secret" value="a7a17390aa5348588c92f0bd55d705e6617fa3419dab4340a0c8ff634082e50c"/>-->
    
    <!-- Prod config -->
    <!--<add key="LitiumBaseUrl" value="http://tengtools.preflight.workplace.nu/"/>
    <add key="client_id" value="IntegrationAccount"/>-->
    <!--<add key="client_secret" value="consid12345"/>-->
  </appSettings>
</configuration>