@model Litium.Accelerator.ViewModels.Block.ProductBlockViewModel

<div class="container">
	<div class="row">
		<h2 class="col-12 text-center">@Model.Title</h2>
	</div>
	@if (!string.IsNullOrWhiteSpace(Model.FooterLinkUrl))
	{
		<div class="row">
			<div class="col-12 text-right">
				<a href="@Model.FooterLinkUrl">@Model.FooterLinkText</a>
			</div>
		</div>
	}
	@if (Model.Products != null && Model.Products.Any())
	{

		<div class="row">
			@foreach (var product in Model.Products)
			{
				<div class="col-12 col-md-4 col-lg-3">
					@Html.DisplayFor(x => product)
				</div>
			}
		</div>
	}
</div>