@model KeyValuePair<Litium.Products.RelationshipType, List<Litium.Accelerator.ViewModels.Product.ProductItemViewModel>>

@if (Model.Value != null && Model.Value.Any())
{
<div class="row">
    <div class="small-12 columns">
        <h2 class="product-detail__header-title">@Model.Key.Localizations.CurrentCulture.Name</h2>
        <ul class="row">
            @foreach (var product in Model.Value)
            {
                <li class="card rounded col-12 col-md-2 col-sm-3 shadow">
                    @Html.DisplayFor(x => product, new {maxWidth = 371 })
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-light pb-0">Go somewhere</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
}