<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name ="pluginSettings" type="Litium.Studio.AddOns.Klarna.Configuration.PluginSettingsConfigSection, Litium.Studio.AddOns.Klarna"/>
    </configSections>
    <!--
  ***************************************************************************************************************************
  
  CONFIGURATION INSTRUCTIONS
  
  NOTE: if using Charge mode (ExecutePaymentMode.Charge), notify Klarna to configure the account with KRED_AUTO_ACTIVATE flag.
   
  apiVersion: Klarna API version. Should not be changed.
  additionalPaymentInfoKeyForPaymentAccId: This attribute is used only for backward compatibility. 
                                           In case AdditionalPaymentInfo contains the paymentAccIdentifier used to identify the payment account, its key.
                                            
  additionalPaymentInfoKeyForActivateInvoicePdf: If the invoice is created in Passive mode and later activate, the url to pdf is returned by Klarna.
                                                  this url is saved in the AdditionalPaymentInfo with following key. If this key is empty, it will not be saved.
  
  serverIp: Mandatory. Publicly visible Ip address of the server running Litium Studio instance. When calling klarna, if the client-ip could not be determined because of Http Request object being not available, this ip address will be used.
  clientIp: If specified, will override the users client Ip sent to klarna with this value. Use only for testing. 
   
  checkoutTestModeCallbackUrl: Klarna checkout requires a public address for callbacks, in development test machines behind firewalls set this to a public ip visible to Klarna for testing checkout.
                               Value should be empty if the test mode server is publicly visible to Klarna.
  
  klarnaBackofficeUrl: Klarna back-office url for managing orders at Klarna side. When in production for live accounts, use https://online.klarna.com
  traceMode: Set to true to get additional debug information.
  
  paymentAccount: the account merchant has with Klarna. Can have multiple accounts, and each account need a seperate paymentAccount section.
  
  paymentAccIdentifier: Mandatory and must be unique for each payment account. Identifier to select the account. 
                
  paymentMethodPrefix: Depricated. Only kept for backward compatibility. When upgrading copy the same value here from your previous config file.
                       For new installations or upgrading from a version before Klarna 1.2, leave empty.
                       
  InvoiceUrl: url to download invoice as a pdf file. When in production for live accounts, use https://online.klarna.com/invoices/
  storeName: store name given from Klarna to your account with Klarna. Value should be unique for each payment account.
  secretWord: secret word provided by klarna.
  isTestAccount: Set to true, if the klarna account is a test account. Note that Klarna test accounts are using a different klarna server.
  useTestMode: if set to true, an invoice is created in test mode, even if your store is fully operational. 
                Recommended for testing without disrupting regular invoicing. 
                
  useAdvancedIntegration: If true, use advanced integration api calls, instead of standard calls.
                          Klarna has two integration modes: "standard integration" and "advanced integration".
                          Standard Integration: 
                          A invoice is created in passive mode when Litium Studio Payment Mode in checkout flow is "Reserve" (ExecutePaymentMode.Reserve), and activated when "Charge" button clicked in back-office.
                          Advanced integration: 
                          A reservation is created when Litium Studio payment mode in checkout flow is "Reserve" (ExecutePaymentMode.Reserve)., and the invoice is created and activated when "Charge" button clicked in back-office.
                          You may only keep a reservation upto 7 days, before it is being converted to a invoice.
  
  fetchOcr: Set to true to return of OCR from klarna, OCR will be saved into PaymentInfo.TransactionNumber
  isInvoiceEnabled: true if invoice payment method is enabled.
  isPartialPaymentEnabled: true if partial payments are enabled.
  isKlarnaCheckoutEnabled: true if Klarna checkout is enabled. Klarna checkout need the "Klarna checkout page type", and only compatible with Accelerator 3.1 and useAdvancedIntegration setting should be set to true.
  partialPaymentsAsSeperateMethods: if true partial payments are shown as seperate payment methodw, i.e. each klarna campaign will be a seperate payment method.
  addShippingAddressFromFirstDelivery: Set to true if 'Shipping address' in klarna invoice should be filled using delivery address of the first delivery.
                                        Litium Studio can have multiple deliveries associated with same order, 
                                        in which case the address of first delivery in the deliveries in order object is used.
  salesCountries: Comma seperated list of countries in (ISO two letter country codes) this payment account is configured for. 
  excludePclasses: Comma seperated list of old klarna campaigns that should not be used in calculating monthly costs.                   
  sendCompanyNameToKlarna: Determins whether organization name in relations module is sent to klarna if the customer belongs to an organization and the organization id field of the customer info is set.
                           If set to false, the organization name will not be sent to Klarna. 
                           Set this field to false, if you are grouping customers and orders based on 'virtual organizations' that should not be printed in Klarna invoices.
  sendByEmail: if true, Klarna automatically send the invoice by email when a reservation is activated. Only works when advanced integration is used.
  disableAutoFocus: if true, Klarna checkout auto focus to email address field is disabled. When enabled the Klarna checkout iframe snippet will auto forcus to it.
  enablePaymentMethodService: Set to true to call Klarna PaymentMethodService api to get additional part payment information. 
                              When enabled, PartPaymentOption will contain the Logo, Terms, Name, Title, UseCase and ExtraInfo
  allowSeperateShippingAdressInKco: Set to true to allow users to specify alternative delivery addresses in Klarna checkout. Before setting to true, this need to be enabled by Klarna for the merchant account.
  allowB2BCustomersInKco: Set to true to allow B2B customers in Klarna Checkout. This option also need to be enabled by Klarna in their mechant account configuration.
  -->
    <pluginSettings
      apiVersion="dot-net:api:3.1.0"
      additionalPaymentInfoKeyForPaymentAccId=""
      additionalPaymentInfoKeyForActivateInvoicePdf="KlarnaActivatedInvoicePdf"
      serverIp="your ip"
      clientIp="your ip"
      checkoutTestModeCallbackUrl=""
      klarnaBackofficeUrl="https://testdrive.klarna.com"
      traceMode="true"
    >
        <paymentAccounts>

            <paymentAccount
              paymentAccIdentifier=""
              paymentMethodPrefix=""
              invoiceUrl="https://testdrive.klarna.com/invoices/"
              storeName=""
              secretWord=""
              isTestAccount="true"
              useTestMode="false"
              useAdvancedIntegration="true"
              fetchOcr="false"
              isInvoiceEnabled="true"
              isPartialPaymentEnabled="true"
              isKlarnaCheckoutEnabled="true"
              partialPaymentsAsSeperateMethods="false"
              addShippingAddressFromFirstDelivery="true"
              salesCountries=""
              excludePclasses=""
              sendCompanyNameToKlarna="true"
              sendByEmail="true"
              disableAutoFocus="true"
              enablePaymentMethodService="true"
              allowSeperateShippingAdressInKco="true"
              allowB2BCustomersInKco="true"
        >
            </paymentAccount>
        </paymentAccounts>
    </pluginSettings>
</configuration>
