<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="pluginSettings"  type="Litium.Studio.AddOns.PayEx.Configuration.PluginSettingsConfigSection, Litium.Studio.AddOns.PayEx"/>
  </configSections>
  <!--
    usePayExTestEnvironment: Set to true to use PayEx Test environment webservices. When in production set this to false to use PayEx production webservices.
   
    maxDescriptionLength: Maximum length of the description field of a order row. Value set by PayEx. Do not change this value.
    
    traceMode: Set value to true to put additional information into the LitiumStudio foundation log files. This should only be used to obtain debug information.
    
    paymentAccIdentifier: Mandatory. Should not contain spaces and should be Unique. Identifier to select the account. This value will be prefixed to the payment method name.
                          The first word of the payment method will be paymentaccount identifier.
    merchantAccount: account number received from PayEx which indicates the merchants account with payEx.
    encryptionKey: Encryption key set for the merchant account.        
    invoiceDueAfterDays: Invoices are activated after these amount of days. Default is 14 days.
        
    CreditCardsEnabled: Set value to true to enable payment through credit cards.
    directDebitEnabled: Set value to true to enable payment through direct debit (bank payments).
    invoiceEnabled: Set value to true to enable payment through invoices (old payex api).
    financingEnabled: Set value to true to enable payment through payEx invoice 2.0, new payex api.
    partPaymentEnabled: Set value to true to enable payeEx Part Payments.
    masterPassEnabled: set value to true to use Masterpass as the creditcard provider. Additional setup with Masterpass is needed, and account need to be MasterPass enabled by PayEx.
                   useResponsiveSkinning will be automatically set to true when using masterpass.
    masterPassSuppressShippingAddress: If true, end user is not able to choose shipping address at masterpass site.
                                       Contact PayEx sales support to enable/disable this option. 
    masterPassConsumerConfirmPurchase: If true, uses the MasterPass best practice flow. Contact PayEx sales support to enable/disable this option.
    
    visaEnabled: Set value to true to enable payment through VISA cards.
    masterCardEnabled: Set value to true to enable payment through Master cards.
    dankortEnabled: Set value to true to enable payment through Dankort cards. This option will only work when currency is DKK.
    amexEnabled: Set value to true to enable payment through Amex cards.
    mobilePayEnabled: Set value to true to enable payment through MobilePay.
    autoPayEnabled: Set value to true to enable saving credit card at PayEx. PayEx need to enable this option for the merchant account.
    autoPayMaxAgreementAmount: Set the max order grand total value that will be allowed to use autoPay. Value depends on the Currency used in the order.
                               for example, if 1000 is specified, in a order with currency SEK, it will be 1000SEK, if currency is EUR, it will be 1000 EUR.
    
    giftCertificatesEnabled: Set value to true to enable payment through Gift certificates issued by PayEx.
    electronicVoucherCodesEnabled: Set value to true to enable payment through electronic value codes issued by PayEx.
        
    cssStyleSkinningName: Skinning name, for skinning the payEx pages.     
    useResponsiveSkinning: set value to true to use PayEx Responsive Skinning css.
    invoiceMediaDistributionPdf: set value to true to use pdf invoices. If false, paper invoices will be sent.
    salesCountries: Comma seperated list of countries in (ISO two letter country codes) this payment account is configured for. 
  -->
  <pluginSettings
    maxDescriptionLength="128"
    traceMode="false"
    >
    <paymentAccounts>
      <paymentAccount
        usePayExTestEnvironment ="true"
        paymentAccIdentifier="SE"
        merchantAccount=""
        encryptionKey=""
        invoiceDueAfterDays="14"

        creditCardsEnabled="true"
        directDebitEnabled="true"
        invoiceEnabled="true"
        financingEnabled="true"
        partPaymentEnabled="true"
        masterPassEnabled="true"
        masterPassSuppressShippingAddress="false"
        masterPassConsumerConfirmPurchase="true"

        visaEnabled="true"
        masterCardEnabled="true"
        dankortEnabled="false"
        amexEnabled="false"
        mobilePayEnabled="false"
        autoPayEnabled="true"
        autoPayMaxAgreementAmount="9000"
        
        giftCertificatesEnabled="false"
        electronicVoucherCodesEnabled="false"
        
        cssStyleSkinningName=""
        useResponsiveSkinning="true"
        invoiceMediaDistributionPdf="false"
        salesCountries="SE"
        
        >
      </paymentAccount>
      <paymentAccount
        usePayExTestEnvironment ="true"
        paymentAccIdentifier="FI"
        merchantAccount=""
        encryptionKey=""
        invoiceDueAfterDays="14"

        creditCardsEnabled="true"
        directDebitEnabled="true"
        invoiceEnabled="true"
        financingEnabled="true"
        partPaymentEnabled="true"
        masterPassEnabled="true"
        masterPassSuppressShippingAddress="false"
        masterPassConsumerConfirmPurchase="true"

        visaEnabled="true"
        masterCardEnabled="true"
        dankortEnabled="false"
        amexEnabled="false"
        
        autoPayEnabled="true"
        autoPayMaxAgreementAmount="1000"
        
        giftCertificatesEnabled="false"
        electronicVoucherCodesEnabled="false"

        cssStyleSkinningName=""
        useResponsiveSkinning="true"
        invoiceMediaDistributionPdf="false"
        salesCountries="FI"
        >
      </paymentAccount>
    </paymentAccounts>
  </pluginSettings>
</configuration>