<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="pluginSettings" type="Litium.AddOns.Klarna.Configuration.PluginSettingsConfigSection, Litium.AddOns.Klarna" />
  </configSections>
  <!--*****************************************************************************************************************************************
IMPORTANT: Use this configuration when Klarna merchant account is Klarna Checkout V3 or Klarna Global.
  traceMode: If true, additional log information are added to Litium event log. 
  serverCommunicationDelayInMinutes: this is the time delay when executing the HPP callback from Klarna.
  serverCommunicationUrl: This is the domain url which is used to build the endpoint for receiving HPP callback.
                eg: serverCommunicationUrl="https://yourdomain.com" 
                Leave empty if you do not need to redirect to a different location.

  paymentAccIdentifier: Mandatory. Must be unique for each payment account. Identifier to select the account. 
  merchantId: Mandatory. Klarna UserName, this is Klarna merchant id followed by a string. This value is assigned by Klarna.
  sharedSecret: Mandatory. Klarna Password, this value is assigned by Klarna.
  isTestAccount: If true, uses Klarna test drive, if false uses Klarna production. All test accounts should have this attribute true.
  isKlarnaShippingServiceEnabled: Set to true if Klarna Shipping Services (KSS) is enabled to your Klarna account, and your checkout page is adapted to not to display shipping methods.
                                  When enabled, Klarna Checkout iframe will load pick-up points, in colloboration with a Transport Administration provider for example, such as Unifaun.
  isKlarnaCheckoutEnabled: Enable or disable KlarnaCheckout as a Payment method in Litium.
  isKlarnaPaymentsHppEnabled: Enable or disable KlarnaPaymentsHpp as a Payment method in Litium.
  isKlarnaShippingServiceEnabled: Enable or disable KSS support for the account in Litium.
  salesCountry: ISO 3166 alpha-2 country code of selling country.
                If you are selling in multiple countries with same account, duplicate the entire payment account section with unique paymentAccountIdentifiers to each country, and specify correct sales country to this parameter.
  headlessCheckout: Set to true to use Klarna HPP payment method in a Headless commerce scenario (External CMS Website other than Litium). 
  captureFraudRiskOrders: Mandatory.
                Klarna need to configure each payment account to notify Litium on Fraud risk. Contact Klarna to enable functionality.
                If true, even order which Klrana flags as "Fraud Risk" will be "Captured" (Payment status will be "Reserved", and "Charge" button in backoffice will capture the Klarna order). The "fraud risk" will be with merchant, not Klarna for these orders.
                If false, the Payment status will be put to "Pending" for "Fraud Risk" orders, and will automatically be put to "Reserved", if fraud statis is ok: (i.e. “fraud_status” = acepted in Klarna documentation,  and when Klarna notify Litium in a background call), 
                or payment status is put to "Cancelled" if fruad risk is not ok: (i.e. “fraud_status” = rejected in klarna documentation, and when Klarna notify Litium in a background call)
                If false, even for Litium "Reserved" payment status, Klarna might notify "Fraud risk" not ok for some orders, Litium will automatically try to "Cancel" the payment when notified by Klarna in a background call.
  distributeHppSessionPaymentLink: For Klarna Hosted Payment Pages only. 
                Send the payment link to buyer using Email, SMS or QR code. 
                Buyer completes payment at Klarna site and receipt page will be displayed by Klarna. 
                Litium creates order through background server-to-server call from Klarna and buyer does not come back to Litium site.

**********************************************************************************************************************************************-->
  <pluginSettings traceMode="true" serverCommunicationDelayInMinutes="2" serverCommunicationUrl="">
    <paymentAccounts>
      <paymentAccount
        paymentAccIdentifier="SE"
        merchantId=""
        sharedSecret=""
        isTestAccount="true"
        isKlarnaShippingServiceEnabled="false"
        isKlarnaCheckoutEnabled="true"
        isKlarnaPaymentsHppEnabled="false"
        headlessCheckout="false"
        salesCountry="SE"
        captureFraudRiskOrders="false"
        distributeHppSessionPaymentLink="false">
      </paymentAccount>  
    </paymentAccounts>
  </pluginSettings>
  <runtime>
  </runtime>
</configuration>
