<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <litium>
    <studio>
      <cms>
        <routing>
          <disabledRoutingPath path="UI"/>
          <disabledRoutingPath path="API"/>
        </routing>
      </cms>
    </studio>
  </litium>
  <system.web>
    <httpRuntime targetFramework="4.7.2" />
    <compilation targetFramework="4.7.2" debug="true">
    </compilation>
  </system.web>
  <location path="storage">
    <system.web>
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
      <httpErrors>
        <remove statusCode="500" subStatusCode="-1" />
        <remove statusCode="404" subStatusCode="-1" />
      </httpErrors>
    </system.webServer>
  </location>
  <location path="ui">
    <system.web>
      <customErrors mode="Off" />
    </system.web>
    <system.webServer>
      <httpErrors>
        <remove statusCode="500" subStatusCode="-1" />
        <remove statusCode="404" subStatusCode="-1" />
      </httpErrors>
      <!-- 
    enable static content cache to get better performance and pagespeed.
    if static content in this folder is changed during the cache-time it 
    is not reflected to the client before cache expires or user are doing 
    a hard refresh.
    -->
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="06:00:00" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>